.view-box{
    margin: auto;
    margin-top: 2em;
    width: 15em;
    word-wrap: break-word;
    background-color: rgba(0, 0, 255, 0.178);
    border-radius: 1em;
    padding: 2em 2em 2em 2em;
    box-shadow: 2px 2px 8px 0px grey;
}

.link-box {
  display: flex;
  flex-direction: column;
}

.viewEvent-box {
  width: 22em;
}
