/* útfæra */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 0em, 2em;
    background-color: rgba(0, 0, 255, 0.507);
    padding: 0.2em;
    box-shadow: 2px 2px 8px 0px grey;
}

.nav-bar > a {
    width: 20%;
}

.Button {
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration-line: none;
    background-color: rgb(212, 189, 255);
    border: none;
    border-radius: 10%;
}

.button-link{
    text-decoration-line: none;
    color: black;
}