/* útfæra */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 0em, 2em;
    background-color: rgba(0, 0, 255, 0.507);
    padding: 0.2em;
    box-shadow: 2px 2px 8px 0px grey;
}

.nav-bar > a {
    width: 20%;
}

.navButtons{
    display: flex;
}

.Button {
    margin: 0.2rem 0.5rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration-line: none;
    background-color: rgb(212, 189, 255);
    border-radius: 1rem;
    width: auto;
    text-align: center;
}

.button-link{
    text-decoration-line: none;
    color: rgba(77, 76, 76, 0.897);
    font-weight: bold;
}

.logo{
    margin-left: 1em;
    font-weight: bold;
    width: 2em;
    text-align: right;
    background-image: url("lion.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: rgba(77, 76, 76, 0.897);
}
