.calendar-buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 25rem;
  width: 100%;
  justify-content: space-between;
}

.calendar-Button{
  text-decoration-line: none;
  background-color: rgb(212, 189, 255);
  border: none;
  border-radius: 1rem;
  color: rgba(77, 76, 76, 0.897);
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.button-right {
  background-image: url('./right.svg');
}
.button-left {
  background-image: url('./left.svg');
}

.button-Create {
    margin: auto;
    min-width: 25rem;
    text-decoration-line: none;
    background-color: rgb(212, 189, 255);
    border: none;
    border-radius: 1rem;
    color: rgba(77, 76, 76, 0.897);
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
}

.main {
    display: flex;
    flex-direction: column;
}
