.homeLion{
    width: 20em;
    height: 20em;
    margin: auto;
    background-image: url("goldenLion.png");
    background-size: 20em 20em;
}

.home-button{
    width: 10em;
    margin: auto;
    margin-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration-line: none;
    text-align: center;
    background-color: rgb(212, 189, 255);
    border-radius: 1rem;
}

.Lion {
  margin-top: 4rem;
}

.Vision {
  margin-top: 2rem;
}
