.login-box{
    margin: auto;
    margin-top: 2em;
    width: 30%;
    background-color: rgba(0, 0, 255, 0.178);
    border-radius: 10%;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 2px 2px 8px 0px grey;
}






